*, *::before, *::after {
    box-sizing: border-box;
  }

.tope{
    display: flex;
    flex-direction: column;
    background-color: #ad46cc;
    margin: 0;
    padding: 0;
}
@font-face{
 font-family: jesus;
 src: url("./zuz.ttf");
}

.titulo{
    text-align: center;
    font-family: jesus;
    font-size: 200px;
    color: rgb(230, 222, 236);
    margin: 0;
    padding: 0;
}

.subtitulo{
    text-align: center;
    font-family: jesus;
    color: rgb(230, 222, 236);
    margin: 0;
    padding-bottom: 1.5rem;
}
body{
    margin: 0;
}

.pie{
    display: flex;
    justify-content: space-around;
    background-color: #272727;
    font-size: 3rem;
    padding: 2rem;
}

.social{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #0e0d0d;
    text-decoration: none;
    background-color: #6f6c72;
    border-radius: 10px;
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
    -webkit-tap-highlight-color: transparent;

}

.social:hover{
    color: #ad46cc;
    background-color: #0a0a0a;
}

.social:active{
    color: #eee67a;
}