*, *::before, *::after {
    box-sizing: border-box;
  }

.tope{
    display: flex;
    flex-direction: column;
    background-color: #101010;
    margin: 0;
    padding: 0;
}
.gradiente {
    background-image: linear-gradient( 90deg,#ad46cc, #1b727e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: fit-content;
  }
@font-face{
 font-family: jesus;
 src: url("./zuz.ttf");
}

.titulo{
    text-align: center;
    font-family: jesus;
    font-size: 200px;
    color: rgb(230, 222, 236);
    margin: 0;
    padding: 0;
    letter-spacing: 0.5rem;
}

.subtitulo{
    text-align: center;
    font-family: jesus;
    color: rgb(230, 222, 236);
    margin: 0;
    padding-bottom: 1.5rem;
    letter-spacing: 0.1rem;
}
body{
    margin: 0;
    background-color: #6f6c72;
}

.pie{
    display: flex;
    justify-content: space-around;
    background-color: #272727;
    font-size: 5rem;
    padding: 2rem;
}

.social{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #0e0d0d;
    text-decoration: none;
    background-color: #6f6c72;
    border-radius: 15px;
    width: 6rem;
    height: 6rem;
    margin: 0 1rem;
    -webkit-tap-highlight-color: transparent;

}

.social:hover{
    background-color: #0e0d0d;
    color: #ad46cc;
}

.social:active{
    color: #1b727e;
}